<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for any vibration / haptic API calls -->
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>